* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-image: url("/images/day/cloudy.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
}

input, button {
    border: 0;
    background: 0;
    outline: 0;
}

a {
    text-decoration: none;
    color: white;
}

::placeholder {
    color: white;
}

ul li {
    list-style: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    width: 40vw;
}

.thew {
    margin-right: 18rem;
    margin-bottom: 15rem;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    width: 32vw;
}

.any {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.vars {
    text-transform: capitalize;
    padding-left: 10px; 
}

.any img {
    width: 40px;
    height: 40px;
}

.any span {
    margin-top: 10px;
}

.name{
    font-size: 2.5em;
}

.temp {
    font-size: 5em;
}

.time span {
    font-size: 12px;
}

.info {
    height: 100vh;
    width: 40vw;
    padding: 50px;
    color: white;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
}

.search_input {
    padding: 5px;
    border-bottom: 2px solid rgb(151,163,169);
    color: white;
    font-size: 16px;
    width: 80%;
    text-transform: capitalize;
}

.search_btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(214,108,5);
    padding: 25px;
    cursor: pointer;
}

.cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    margin-top: 30px;
}

hr {
    color: rgb(151,163,169);
    background-color: rgb(151,163,169);
    margin: 30px 0;
}

.cities li {
    cursor: pointer;
    padding: 10px;
    transition: opacity 0.2s ease-in-out;
}

.cities li:hover {
    opacity: 0.6;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25vh;
    margin-top: 50px;
    position: relative;
}

.details li {
    list-style: none;
}

.details span {
    position: absolute;
    right: 0;
}


/* Media Queries */

@media screen and (max-width: 1024px) {
    .thew {
        margin-left: 40%;
    }
}


@media screen and (max-width: 768px) {
    .thew {
        margin-left: 50%;
        font-size: 0.9rem;
    }
    .block {
        width: 40vw;
        margin-left: 30%;
    }
    .temp {
        font-size: 3.5rem;
    }
    .name {
        font-size: 1.7rem;
    }
    .vars {
        font-size: 0.8rem;
    }


    .search_input {
        width: 65%;
        font-size: 0.6rem;
    }

    .search_btn {
        padding: 10px;
        right: 0;
        top: 8.2%;
        width: 20%;
    }

    .search_btn svg {
        height: 1.2em;
        width: 1.2em;
    }

    .cities li {
        font-size: 0.8rem;
    }

    .details_title {
        font-size: 0.85rem;
    }

    .details {
        font-size: 0.8rem;
        margin-top: 18px;
    }
}

@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
        position: relative;
        justify-content: space-between;
    }

    .thew {
        font-size: 10px;
        text-align: center;
        z-index: 11;
        margin: 0 auto;
        position: absolute;
        top: 10px;
    }

    .block {
        width: 40vw;
        margin: 0 auto;
        position: absolute;
        bottom: -7%;
        flex-direction: column;
        text-align: center;
    }

    .temp {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .name {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .time {
        margin-bottom: 10px;
    }

    .vars {
        font-size: 0.8rem;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    .info {
        position: absolute;
        top: 0;
        width: 100%;
        height: 10vh;
    }

    .search_btn {
        margin-top: 29px;
        margin-right: 100px;
        height: 40px;
        width: 10%;
    }

    .cities li {
        font-size: 0.7rem;
    }

    hr {
        margin-top: 0px;
    }

    .details_title {
        font-size: 0.75rem;
        padding-left: 10px;
    }

    .details li {
        font-size: 0.65rem;
        padding-left: 10px;
    }

    body {
        min-height: 150vh;
    }
}

@media screen and (max-width: 376px) {
    .search_btn {
        width: 15%;
        margin-right: 40px;
    }
}